{% extends "layouts/base.njk" %}

{% set title = "Главная страница — Мой сайт" %}
{% set description = "Главная страница сайта. Тестовые компоненты, элементы Bootstrap и демонстрация стилей." %}
{% set pageUrl = "/" %}

{% block content %}
  <section id="hero-sec" class="hero-sec">
    <div class="container">
      <div class="row g-3">
        <div class="col-12">
          <h1>Заголовок страницы</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="hero-sec-2" class="hero-sec">
    <div class="container">
      <div class="row g-3">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">
                  <svg class="sprite-icon" style="--width: 1em; --height: 1em; vertical-align: -0.125em;" aria-hidden="true">
                    <use xlink:href="assets/svg/spritemap.svg#house"></use>
                  </svg>
                  <span class="visually-hidden">Home</span>
                </a></li>
              <li class="breadcrumb-item"><a href="#">Library</a></li>
              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
          </nav>

          <h1>Заголовок внутренней страницы  </h1>
        </div>
      </div>
    </div>
  </section>

  <section id="" class="uni-sec">
    <div class="container">
      <div class="row g-3">
        <div class="col-12" data-scroll="blur slide-up">
          <h2 class="sec-title">Заголовок секции  </h2>
        </div>
        <div class="col-12 col-md-4" data-scroll="blur slide-up">
          <p>Разнообр  а начало повседневной работы по формированию позиции влечёт за собой интересный процесс внедрения модернизации новых принципов формирования материально-технической и кадровой базы.</p>
        </div>
        <div class="col-12 col-md-4" data-scroll="blur slide-up">
          <p>Следует ист    гресса профессионального общества.</p>
          <ul>
            <li>sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
            <li> 1111 dsjfkjdsfkljdf jsdflk jsdflk jsdflk jdsflk jsdflk jsdf jdsflk jdsf </li>
            <li> dsjfkjdsfkljdf jsdflk jdsflk jsdflk jsdf jsdflkjsdflk jdsflk jdsf </li>
            <li>3333sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
          </ul>
        </div>
        <div class="col-12 col-md-4" data-scroll="blur slide-up">
          <p>Не следуе оответствующей насущным потребностям.</p>

           <ol>
            <li>sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
            <li> 1111 dsjfkjdsfkljdf jsdflk jsdflk jsdflk jdsflk jsdflk jsdf jdsflk jdsf </li>
            <li> dsjfkjdsfkljdf jsdflk jdsflk jsdflk jsdf jsdflkjsdflk jdsflk jdsf </li>
            <li>3333sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section id="" class="uni-sec">
    <div class="container">
      <div class="row g-3">
        <div class="col-12" data-scroll="blur slide-up">
          <h2>Заголовок секции</h2>
        </div>
      </div>
    </div>
  </section>

  <section id="first" class="first uni-sec">
    <div class="container">
      <div class="row g-3">
        <div class="col-12 text-primary">
          <svg class="sprite-icon">
            <use xlink:href="assets/svg/sprite.svg#geo"></use>
          </svg>
          <svg class="sprite-icon">
            <use xlink:href="assets/svg/sprite.svg#link-arrow"></use>
          </svg>
          <svg class="sprite-icon">
            <use xlink:href="/assets/svg/spritemap.svg#javascript"></use>
          </svg>
          <svg class="sprite-icon">
            <use xlink:href="assets/svg/spritemap.svg#javascript"></use>
          </svg>
        </div>

          <div class="col-6">
          <figure class="figure"><img src="assets/img/og-image.jpg" loading="lazy" class="ar-16x9 mw-100" alt=""></figure>
          <h1>h1 Типография    </h1>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <img src="assets/img/og-image.jpg" loading="lazy" class="attach-prev ar-16x9 mw-100" alt="">
          <h2>h2 Типография  </h2>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <h3>h3 Типография  </h3>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <img src="assets/img/og-image.jpg" loading="lazy" class="attach-next ar-16x9 mw-100" alt="">
          <h4>h4 Типография  </h4>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <h5>h5 Типография  </h5>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <img src="assets/img/og-image.jpg" loading="lazy" class="attach-prev ar-16x9 mw-100" alt="">
          <h6>h6 Типография        </h6>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <p>Параграф обычный, Таким образом новая модель   Значимость этих проблем настолько очевидна, что новая модель организационной деятельности представляет собой интересный эксперимент укрепления демократической системы.</p>
          <img src="assets/img/og-image.jpg" loading="lazy" class="attach-prev ar-16x9 mw-100" alt="">
          <p>Параграф обычный, Таким образом новая модель   Значимость этих проблем настолько очевидна, что новая модель организационной деятельности представляет собой интересный эксперимент укрепления демократической системы.</p>
           <ul>
            <li>Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким о   обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким  ов системы массового участия.</li>
            <li>Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким о   обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким  ов системы массового участия.</li>
            <li>Таким  ов системы массового участия.</li>
            <li>Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу специалистов системы массового участия.</li>

          </ul>
          <img src="assets/img/og-image.jpg" loading="lazy" class="ar-16x9 mw-100" alt="">

          <ol>
            <li>sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
            <li> 1111 dsjfkjdsfkljdf jsdflk jsdflk jsdflk jdsflk jsdflk jsdf jdsflk jdsf </li>
            <li> dsjfkjdsfkljdf jsdflk jdsflk jsdflk jsdf jsdflkjsdflk jdsflk jdsf </li>
            <li>3333sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
          </ol>

           <ul>
            <li>sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
            <li>3333sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
          </ul>

          <ul class="tight">
            <li>sdfdsdsf sdf sdf dsf</li>
            <li>sdf dsfdf dsf </li>
            <li>sdfdsf  dsfdsf </li>
          </ul>
        </div>

        <div id="typografy-block" class="col-6 prose" style="--prose-flow: 1lh;">
          <figure  class="figure"><img src="assets/img/og-image.jpg" loading="lazy" class="ar-16x9" alt=""></figure>
          <h1>h1 Типография   flow </h1>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <img src="assets/img/og-image.jpg" loading="lazy" class="attach-prev ar-16x9 mw-100" alt="">
          <h2>h2 Типография  </h2>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <h3>h3 Типография  </h3>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <img src="assets/img/og-image.jpg" loading="lazy" class="attach-next ar-16x9 mw-100" alt="">
          <h4>h4 Типография  </h4>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <h5>h5 Типография  </h5>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <img src="assets/img/og-image.jpg" loading="lazy" class="attach-prev ar-16x9 mw-100" alt="">
          <h6>h6 Типография        </h6>
          <p class="lead">lead · Лид · Типография Типография Типография Типография Типография Типография</p>
          <p>Параграф обычный, Таким образом новая модель   Значимость этих проблем настолько очевидна, что новая модель организационной деятельности представляет собой интересный эксперимент укрепления демократической системы.</p>
          <img src="assets/img/og-image.jpg" loading="lazy" class="attach-prev ar-16x9 mw-100" alt="">
          <p>Параграф обычный, Таким образом новая модель   Значимость этих проблем настолько очевидна, что новая модель организационной деятельности представляет собой интересный эксперимент укрепления демократической системы.</p>
           <ul>
            <li>Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким о   обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким  ов системы массового участия.</li>
            <li>Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким о   обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким  ов системы массового участия.</li>
            <li>Таким  ов системы массового участия.</li>
            <li>Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу специалистов системы массового участия.</li>
            <li>Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу специалистов системы массового участия.</li>

          </ul>


          <img src="assets/img/og-image.jpg" loading="lazy" class="ar-16x9 mw-100" alt="">

          <ol>
            <li>sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
            <li> 1111 dsjfkjdsfkljdf jsdflk jsdflk jsdflk jdsflk jsdflk jsdf jdsflk jdsf </li>
            <li> dsjfkjdsfkljdf jsdflk jdsflk jsdflk jsdf jsdflkjsdflk jdsflk jdsf </li>
            <li>3333sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
          </ol>

          <ul>
            <li>sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
            <li>3333sdfkdsf dsf kljsd flkjdsf </li>
            <li>dsfds  sdflkjdfsdsfjkl dsfklj</li>
          </ul>

            <ul class="tight">
            <li>sdfdsdsf sdf sdf dsf</li>
            <li>sdf dsfdf dsf </li>
            <li>sdfdsf  dsfdsf </li>
          </ul>
        </div>

        <div class="col-3">
          <div class="card"  >
            <img src="assets/img/og-image.jpg" loading="lazy" class="card-img-top  " alt="">

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card border-0 rounded-0"  >
            <img src="assets/img/og-image.jpg" loading="lazy" class="" alt="">

            <div class="card-body px-0">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

          <div class="card"  >
            <div class="card-header">
              Featured
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
          </div>

          <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card" >
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              Quote
            </div>
            <div class="card-body">
              <figure>
                <blockquote class="blockquote">
                  <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
              </figure>
            </div>
          </div>

        </div>

        <div class="col-auto">
          <div class="display-1">Типография</div>
          <div class="display-2">Типография</div>
          <div class="display-3">Типография</div>
          <div class="display-4">Типография</div>
          <div class="display-5">Типография</div>
          <div class="display-6">Типография</div>
         </div>

        <div class="col-4">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>

        <div class="col-12"> <div class="spacer-view" style="--view: 50vh;"></div></div>

        <div class="col-3">
          <div data-scroll="fade"  >
            Fade-in/out block
          </div>
        </div>
        <div class="col-3">
          <div data-scroll="slide-up" >
            Slide-up block
          </div>
        </div>
        <div class="col-3">
          <div data-scroll="zoom" >
            Zoom block
          </div>
        </div>

        <div class="col-3">
          <div data-scroll="blur">Blur block</div>
        </div>



        <div class="col-3">
          <div data-scroll="slide-left">Slide-left block</div>
        </div>

        <div class="col-3">
          <div data-scroll="slide-right">Slide-right block</div>
        </div>



        <div class="col-12"><div class="spacer-view"  style="--view: 25vh;"></div></div>


        <div class="col-6 mt-3">
          <div data-scroll="clip-up">
            <h6>Clip-up block</h6>
            <p>Не вызывает сомнений, что постоянное информационно-пропогандистское обеспечение нашей деятельности требует анализа соответствующих условий активизации.</p>
          </div>
        </div>

        <div class="col-12"><div class="spacer-view"  style="--view: 25vh;"></div></div>

        <div class="col-3">
          <div data-scroll="blur slide-up zoom">
            Slide-up and Blur and Zoom
          </div>
        </div>

        <div class="col-3"></div>
        <div class="col-3"></div>

        <div class="col-3">
          <div data-scroll="slide-up zoom">slide-up + zoom</div>
        </div>
        <div class="col-3">
          <div data-scroll="slide-left zoom">slide-left + zoom</div>
        </div>
        <div class="col-3">
          <div class="d-inline-flex" data-scroll="slide-right zoom">slide-right + zoom</div>
        </div>

        <div class="col-12"><div class="spacer-view"  style="--view: 50vh;"></div></div>

        <div class="col-auto">
          <div class="hstack gap-2 flex-wrap h-scale-group">
            <div class="h-scale-wrap">
              <button type="button" class="h-scale-item btn btn-primary">btn-primary</button>
            </div>
            <div class="h-scale-wrap">
              <button type="button" class="h-scale-item btn btn-outline-primary">btn-outline-primary</button>
            </div>
            <div class="h-scale-wrap">
              <button type="button" class="h-scale-item btn btn-secondary">btn-secondary</button>
            </div>
            <div class="h-scale-wrap">
              <button type="button" class="h-scale-item btn btn-outline-secondary">btn-outline-secondary</button>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="hstack gap-2 flex-wrap  ">
            <div class="scale-wrapper">
              <button type="button" class="btn btn-primary">btn-primary</button>
            </div>
            <div class="scale-wrapper">
              <button type="button" class="btn btn-outline-primary">btn-outline-primary</button>
            </div>
            <div class="scale-wrapper">
              <button type="button" class="btn btn-secondary">btn-secondary</button>
            </div>
            <div class="scale-wrapper">
              <button type="button" class="btn btn-outline-secondary">btn-outline-secondary</button>
            </div>
          </div>
        </div>

        <div class="col-12 col-xs-4 col-sm-6 col-md-auto text-bg-newcolor">
          <h3>test col-xs</h3>
          <div class="custom-rfs">Custom-rfs</div>
        </div>

        <div class="col-12 col-md-auto">
          <div class="rounded-5 p-5 text-bg-primary">
            <div class="fs-3 text-white fw-semibold">test rounded</div>
            <div class="fs-3 text-green fw-semibold">test rounded</div>
          </div>
        </div>

        <div class="col-12 col-md-5">
          <div
            class="rounded-5 p-5 text-bg-secondary ar-1x1 ar-sm-4x3 ar-md-16x9 ar-lg-21x9 mw-md-50"
          >
            <div class="fs-3 fw-semibold">test ar</div>
            <div class="fs-3 fw-semibold text-white">test ar</div>
          </div>

          <div class="fs-3 fw-semibold text-secondary">test ar</div>
          <div class="fs-3 fw-semibold text-body">test ar</div>

          <a href="#" class="link-body-emphasis">test link-body-emphasis</a>
          <a href="#" class="link-blackzzz">test link-blackzzz</a>
          <a href="#" class="">просто ссылка</a>
          <a href="#" class="link-secondary">test link-secondary</a>
          <a href="#" class="link-primary">test link-primary</a>
        </div>


        <div class="col-12">
          <button type="button" class="btn btn-primary opacity-70">
            button
          </button>
          <button type="button" class="btn btn-secondary">secondary</button>
          <button type="button" class="btn btn-teal">teal</button>
          <button type="button" class="btn btn-accent">button</button>
          <button type="button" class="btn btn-danger">btn-danger</button>
          <button type="button" class="btn btn-dark">btn-dark</button>
        </div>

        <div class="col-12">
          <div class="vstack gap-3">
            <div class="p-2">First item</div>
            <div class="p-2">Second item</div>
            <div class="p-2">Third item</div>
          </div>
        </div>

        <div class="col-12">
          <details class="details" open name="details">
            <summary class="details__head">
              <h4 class="h4 details__title">Нативный аккардион</h4>
              <div class="details__arrow">
                <svg class="sprite-icon">
                  <use xlink:href="assets/svg/sprite.svg#link-arrow"></use>
                </svg>
              </div>
            </summary>
            <div class="details__body">
              <div class="details__content">
                Значимость этих проблем настолько очевидна, что новая модель
                организационной деятельности влечёт за собой интересный процесс
                внедрения модернизации модели развития. Не вызывает сомнений,
                что новая модель организационной деятельности напрямую зависит
                от поставленных обществом и правительством задач. Равным образом
                понимание сущности ресурсосберегающих технологий влечёт за собой
                интересный процесс внедрения модернизации новых предложений.
                Задача организации, в особенности же новая модель
                организационной деятельности создаёт предпосылки качественно
                новых шагов для поэтапного и последовательного развития
                общества. Задача организации, в особенности же дальнейшее
                развитие различных форм деятельности позволяет оценить значение
                направлений прогрессивного развития. Идейные соображения высшего
                порядка, а также социально-экономическое развитие требует
                анализа дальнейших направлений развития.
              </div>
            </div>
          </details>
          <details class="details" name="details">
            <summary class="details__head">
              <h4 class="h4 details__title">Title</h4>
              <div class="details__arrow">></div>
            </summary>
            <div class="details__body">
              <div class="details__content">
                Значимость этих проблем настолько очевидна, что новая модель
                организационной деятельности влечёт за собой интересный процесс
                внедрения модернизации модели развития. Не вызывает сомнений,
                что новая модель организационной деятельности напрямую зависит
                от поставленных обществом и правительством задач. Равным образом
                понимание сущности ресурсосберегающих технологий влечёт за собой
                интересный процесс внедрения модернизации новых предложений.
                Задача организации, в особенности же новая модель
                организационной деятельности создаёт предпосылки качественно
                новых шагов для поэтапного и последовательного развития
                общества. Задача организации, в особенности же дальнейшее
                развитие различных форм деятельности позволяет оценить значение
                направлений прогрессивного развития. Идейные соображения высшего
                порядка, а также социально-экономическое развитие требует
                анализа дальнейших направлений развития.
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>
  </section>

  <section class="uni-sec">
    <div class="container">
      <div class="row g-3">
        <div class="col-7">
          <div class="hstack gap-3 flex-wrap">
            <div class="p-2 text-bg-primary ratio ratio-16x9 rounded-5">
              First item
            </div>
          </div>
        </div>

        <div class="col-5">
          <div class="p-2 text-bg-secondary ratio ratio-4x3">Second item</div>
        </div>
      </div>
    </div>
  </section>




{% endblock %}
