<nav id="bottom-nav" class="bottom-nav">
  <div class="container">
    <div class="hstack">
      <a href="/" class="link-bottom-nav" aria-label="Главная">
        <svg class="sprite-icon" aria-hidden="true" style="--width: 1.25rem; --height: 1.25rem;">
          <use xlink:href="/assets/svg/spritemap.svg#house"></use>
        </svg>
        <span>Главная</span>
      </a>
      <a href="/catalog/" class="link-bottom-nav active" aria-label="Каталог">
        <svg class="sprite-icon" aria-hidden="true" style="--width: 1.25rem; --height: 1.25rem;">
          <use xlink:href="/assets/svg/spritemap.svg#search"></use>
        </svg>
        <span>Каталог</span>
      </a>
      <a href="/about/" class="link-bottom-nav" aria-label="О нас">
        <svg class="sprite-icon" aria-hidden="true" style="--width: 1.25rem; --height: 1.25rem;">
          <use xlink:href="/assets/svg/spritemap.svg#vite"></use>
        </svg>
        <span>О нас</span>
      </a>
      <a href="/about/" class="link-bottom-nav" aria-label="О нас">
        <svg class="sprite-icon" aria-hidden="true" style="--width: 1.25rem; --height: 1.25rem;">
          <use xlink:href="/assets/svg/spritemap.svg#vite"></use>
        </svg>
        <span>Избранное</span>
      </a>
      <a href="/about/" class="link-bottom-nav" aria-label="О нас">
        <svg class="sprite-icon" aria-hidden="true" style="--width: 1.25rem; --height: 1.25rem;">
          <use xlink:href="/assets/svg/spritemap.svg#vite"></use>
        </svg>
        <span>Корзина</span>
      </a>
      <a href="/contacts/" class="link-bottom-nav" aria-label="Контакты">
        <svg class="sprite-icon" aria-hidden="true" style="--width: 1.25rem; --height: 1.25rem;">
          <use xlink:href="/assets/svg/spritemap.svg#burger"></use>
        </svg>
        <span>Контакты</span>
      </a>
    </div>
  </div>
</nav>
