<header id="header" class="header" data-sticky-smart>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{{ logo.link | default('') }}">
        <img src="{{ logo.url | default('') }}" alt="{{ logo.title | default('') }}" width="auto" height="auto" class="d-inline-block align-text-top">
        {{ logo.title | default('') }}
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column flex-lg-row gap-3">
          <ul class="navbar-nav flex-grow-1 list-unstyled">
            {% for item in menu2 %}
              <li class="nav-item">
                {% if item.url == pageUrl %}
                  <span class="nav-link active" aria-current="page">{{ item.title }}</span>
                {% else %}
                  <a class="nav-link" href="{{ item.url }}" data-bs-dismiss="offcanvas">{{ item.title }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success d-none" type="submit">Искать</button>
          </form>

          <a href="tel:{{ contacts.phone_link }}" class="me-lg-3 d-inline-block">
            {{ contacts.phone_display }}
          </a>

          <div class="hstack gap-2">
            <svg class="sprite-icon">
              <use xlink:href="assets/svg/spritemap.svg#vite"></use>
            </svg>
            <svg class="sprite-icon text-primary">
              <use xlink:href="assets/svg/spritemap.svg#burger"></use>
            </svg>
            <svg class="sprite-icon">
              <use xlink:href="assets/svg/spritemap.svg#javascript"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
