@use "sass:color";

a:not([class^="link-"]):not([class*=" link-"]) {
  //text-decoration-color: color-mix(in srgb, currentColor 33%, transparent);
  //--bs-link-color-rgb
  //--bs-link-hover-color-rgb
  //text-decoration-color: rgba(#f96b23, 0.33);

  &:hover,
  &:focus-visible {
    //text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
    //color: #f96b23;
    //text-decoration-color: rgba(#f96b23, 1);
  }
}

a {
  text-underline-offset: 0.25em;
  text-decoration-color: rgba(#f96b23, 0.33);
  transition:
    background-color 0.15s cubic-bezier(0, 0, 0.5, 1),
    border-color 0.15s cubic-bezier(0, 0, 0.5, 1),
    color 0.15s cubic-bezier(0, 0, 0.5, 1),
    text-decoration-color 0.15s cubic-bezier(0, 0, 0.5, 1),
    text-underline-offset 0.15s cubic-bezier(0, 0, 0.5, 1);

  &:hover,
  &:focus-visible {
    color: #f96b23;
    text-decoration-color: rgba(#f96b23, 1);
  }
}

[class^="link-"],
[class*=" link-"] {
  --bs-link-underline-opacity: 0.33;

  &:hover,
  &:focus-visible {
    --bs-link-underline-opacity: 1;
  }
}

.link-bottom-nav {
  align-items: center;
  color: var(--bs-secondary-color);
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 0.6875rem;
  gap: 0.25rem;
  justify-content: center;
  line-height: 1;
  padding: 0.5rem 0;
  text-decoration: none;


  &:hover,
  &:focus-visible,
  &.active {
    color: var(--bs-primary);
  }

  &.active {
    font-weight: 600;
  }
}
