@import "rfs/scss";

@supports (text-box: trim-both) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  .fs-1,
  .fs-2,
  .fs-3,
  .fs-4,
  .fs-5,
  .fs-6,
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .display-5,
  .display-6,
  p,
  .lead,
  blockquote,
  .blockquote,
  figcaption,
  .figure-caption,
  li,
  dt,
  dd,
  th,
  td,
  pre,
  code,
  address,
  small,
  label,
  legend,
  button,
  .btn {
    text-box: trim-both ex alphabetic;
  }

  li + li:not(.breadcrumb-item):not(.list-group-item):not(.nav__item):not([class]) {
    margin-block-start: 1lh;
  }
}

@supports not (text-box: trim-both) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  .fs-1,
  .fs-2,
  .fs-3,
  .fs-4,
  .fs-5,
  .fs-6,
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .display-5,
  .display-6,
  p,
  .lead,
  blockquote,
  .blockquote,
  figcaption,
  .figure-caption,
  //li:not(.breadcrumb-item),
  dt,
  dd,
  th,
  td,
  pre,
  code,
  address,
  small,
  label,
  legend {
    &::before {
      content: "";
      display: table;
      margin-bottom: -0.15em;
    }
    &::after {
      content: "";
      display: table;
      margin-top: -0.08em;
    }
  }

  button,
  .btn {
    --bs-btn-padding-y: 0.69rem;
  }

  li + li:not(.breadcrumb-item):not(.list-group-item):not(.nav__item):not([class]) {
    margin-block-start: 0.33lh;
  }
}

h1,
.h1 {
  font-weight: 300;
  line-height: 1.143;
  letter-spacing: -0.045em;
  @include rfs(1.5rem, margin-bottom);
}

h2,
.h2 {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.035em;
  @include rfs(1.5rem, margin-bottom);
}

h3,
.h3 {
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.01em;
  @include rfs(1.5rem, margin-bottom);
}

h4,
.h4 {
  font-weight: 700;
  line-height: 1.333;
  letter-spacing: normal;
  @include rfs(1.5rem, margin-bottom);
}

h5,
.h5 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
  @include rfs(1.5rem, margin-bottom);
}

h6,
.h6 {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  @include rfs(1.5rem, margin-bottom);
}

.lead {
  line-height: 1.2;
  @include rfs(1.5rem, margin-bottom);
}

.blockquote-footer {
  margin-top: 0;
  @include rfs(1.5rem, margin-bottom);
}

figure {
  margin-bottom: 1.5rem;

  @supports not (text-box: trim-both) {
    margin-bottom: 1rem;
  }
}

p:last-child,
.lead:last-child,
li:last-child,
figure:last-child,
blockquote:last-child,
.blockquote:last-child,
.blockquote-footer:last-child {
  margin-bottom: 0;
}

.fs-1 {
  letter-spacing: -0.045em;
}

.fs-2 {
  letter-spacing: -0.035em;
}

.fs-3 {
  letter-spacing: -0.01em;
}

.fs-4,
.fs-5,
.fs-6 {
  letter-spacing: normal;
}

@each $level, $size in $display-font-sizes {
  .display-#{$level} {
    letter-spacing: calc(-0.0035em * (7 - $level));
  }
}

ul,
ol {
  padding-left: 1.3em;
}

ul {
  list-style: none;
}

ul li::marker {
  content: "— ";
}

.list-unstyled {
  li::marker {
    content: "";
  }
}

ul.tight,
ol.tight {
  li + li {
    margin-block-start: 0.66lh;

    @supports not (text-box: trim-both) {
      margin-block-start: 0.17lh;
    }
  }
}
